.DS_Store
/.vscode
/.idea
/gin-bin
/vendor
/config.json
/.scannerwork/
/coverage.out
/report.json
/logs/access_log*
/logs/app_log*
/go-port-and-adapter
Dockerfile
kubestaging*

# For Development Testing Only
test.go
